
<app-header></app-header>
<app-navbar></app-navbar>
            
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading my-4 page-title">My Listings</h1>
        </div>
    </section>

    <div class="album">
        <div class="container">
            <div class="row">

                    <div *ngFor="let item of AdvertisementList" class="card mb-4 box-shadow" [ngClass]="{'expired' : checkExpired(item.Lifetime) }" data-aos="zoom-out-up">

                        <div class="card-header text-center h5"><b>{{ item.Brand }} </b>{{ item.ProductName }}</div>
                        <a routerLink="/advertisement/details/{{ item._id }}"><img class="card-img-top" src="{{ item.ImageLink }}"></a>
                        <div class="card-body">
                            <p class="card-text">
                                <table class="table table-borderless">
                                    <tr>
                                        <td class="h6">Description:</td>
                                        <td>{{item.Description}}</td>
                                    </tr>
                                    <tr>
                                        <td class="h6">Price:</td>
                                        <td>{{item.Price}}</td>
                                    </tr>
                                    <tr>
                                        <td class="h6">Condition:</td>
                                        <td>{{ item.Condition}}</td>
                                    </tr>
                                </table>
                         <!--  </p> -->  
                        </div>
                        <div class="card-footer text-muted">
                            <div class="d-flex align-items-center btn-group">
                                <a routerLink="/advertisement/edit/{{item._id}}" class="btn btn-sm btn-light">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a (click)="deleteMethod(item._id)" class="btn btn-sm btn-light">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>