
  <%- include partials/header -%>
        
  <%- include partials/navbar -%>
  
<div class="container" >
  <body>
  <div class="container-fluid mx-5">
    <div class="row text-center">
      
      <div>
        <img style="width: 15%;" src="images/CElogo.png">
        <br><br>
        <h1>Hi There!</h1>
        <br>
        <p>
          We are a Used Products Website! Buy or Sell any valuable items that you no longer need!
          <br><br>
          We were founded by a group of students at Centennial College, who wanted to increase recycling of
          electronics in the community. Soon, our vision expanded, and now we have a platform dedicated to
          selling a wide variety of items!
        </p>
      </div>
      
    </div>  
  </div>
</div>  

<%- include partials/footer -%>