<app-header></app-header>
<app-navbar></app-navbar>

    <div class="homepage-container">
    <section id="title">
        <div class="container-fluid pb-5">

            <!-- Information Section -->
            <div class="row">
                <div class="col-lg-6 col-md-12 my-2 title-description" data-aos="fade-right" data-aos-duration="1000">
                    <h1 class="infoTitle text-left">Buy with confidence!<br>Satisfaction guaranteed!</h1>
                    <a routerLink="/advertisement/list">
                        <button type="button" class="btn btn-light btn-lg products-button">
                            <i class="bi bi-bag"></i> View Products!
                        </button>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12" data-aos="fade-left" data-aos-duration="1000">
                    <img class="title-image" src="assets/images/shoes.png" alt="nike-shoes" />
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials">
        <div class="container-fluid">
            <h1 class="testimonials-title">Testimonials</h1>
            <div class="row">
                <div class="col-sm-12 col-lg-4" data-aos="zoom-out-right" data-aos-duration="1000">
                    <div class="card">
                        <!-- copyright : https://www.vecteezy.com/photo/3492377-closeup-male-studio-portrait-of-happy-man-looking-at-the-camera-image -->
                        <img class="card-img-top" src="assets/images/boy.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">My Favorite Website!</h5>
                            <p class="card-text">I bought my engagement ring here and I got married!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4" data-aos="zoom-out-up" data-aos-duration="1200">
                    <div class="card">
                        <!-- copyrigth: https://www.vecteezy.com/photo/3491890-closeup-face-portrait-of-pretty-blonde-girl-with-fresh-skin-horizontal-image -->
                        <img class="card-img-top" src="assets/images/girl.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">This is way better than Amazon!</h5>
                            <p class="card-text">With free shipping I received my item in less than 36 hours!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4" data-aos="zoom-out-left" data-aos-duration="1000">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/man.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Best fashion sellers in the market!</h5>
                            <p class="card-text">I can't believe how many vintage and stylish clothes I found here!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action -->
    <section id="bottom-banner" data-aos="flip-up">
        <h3>We have exactly what you are looking for!</h3>
    </section>

</div> 

<app-footer></app-footer> 

