<app-header></app-header>

<app-navbar></app-navbar> 
  
<div class="container" >

  <div class="about-us container text-center" data-aos="fade-up">
        <img class="logo my-4" alt="Used goods site logo" src="assets/images/CElogo.png">
        <h1 class="my-2">Hi There!</h1>
        <p class="my-3 mx-5 px-5">
          We are a Used Products Website! Buy or Sell any valuable items that you no longer need!
          <br><br>
          We were founded to increase recycling of electronics in the community. 
          Soon, our vision expanded, and now we have a platform dedicated to
          selling a wide variety of items!
        </p>
      
    </div>  
  </div>  
<app-footer></app-footer>