<app-header></app-header>

<app-navbar></app-navbar> 
  
<div class="container" >

  <div class="about-us" data-aos="fade-up">
        <img class="logo" alt="Used goods site logo"src="assets/images/CElogo.png">
        <h1 class="about-us-title">Hi There!</h1>
        <p class="about-us-p1">
          We are a Used Products Website! Buy or Sell any valuable items that you no longer need!
        </p>
        <p class="about-us-p2">
          We were founded by a group of students at Centennial College, who wanted to increase recycling of
          electronics in the community. Soon, our vision expanded, and now we have a platform dedicated to
          selling a wide variety of items!
        </p>
      
    </div>  
  </div>  
<app-footer></app-footer>