
<app-header></app-header>
<app-navbar></app-navbar>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <h1 class="page-title my-4 text-center">{{ title }}</h1>
            <form novalidate #form="ngForm" (ngSubmit)="save(form)">
                <input type="hidden" name="id" [(ngModel)]="item._id" [ngModelOptions]="{standalone: true}">
                
                <label for="productNameTextField">Product Name</label>
                <input type="text" class="form-control"
                    id="productNameTextField"
                    name="ProductName" 
                    [(ngModel)]="item.ProductName"
                    required [ngModelOptions]="{standalone: true}">
                <br>
                <label for="brandTextField">Brand</label>
                <input type="text" class="form-control"
                    id="brandTextField"
                    name="Brand" 
                    [(ngModel)]="item.Brand"
                    required >
                <br>
                <label for="descriptionTextField">Description</label>
                <input type="text" class="form-control"
                    id="descriptionTextField"
                    name="Description" 
                    [(ngModel)]="item.Description"
                    required [ngModelOptions]="{standalone: true}">
                <br>
                <label for="priceTextField">Price</label>
                <input type="number" class="form-control"
                    id="priceTextField"
                    placeholder="999.99"
                    name="Price" 
                    [(ngModel)]="item.Price"
                    required [ngModelOptions]="{standalone: true}">
                <br>
                <label for="categoryTextField">Category</label>


                <select id="categoryTextField" class="form-control" [(ngModel)]="item.Category" [ngModelOptions]="{standalone: true}">
                      <option
                        *ngFor="let item of categories"
                      >{{ item.name }}</option>
                </select>


                <br>
                <label for="conditionTextField">Condition</label>
                <select id="conditionTextField" class="form-control" [(ngModel)]="item.Condition" [ngModelOptions]="{standalone: true}">
                    <option
                      *ngFor="let item of conditions"
                    >{{ item.name }}</option>
              </select>


                <br>
                <label for="dateEnabledTextField">Advertisement Start Date</label>
                <input type="date" class="form-control"
                    id="dateEnabledTextField"
                    name="DateEnabled" 
                    [(ngModel)]="item.DateEnabled" [ngModelOptions]="{standalone: true}">
                <br>
                <label for="lifeTimeTextField">Advertisement Expiry Date</label>
                <input type="date" class="form-control"
                    id="lifetimeTextField"
                    name="Lifetime" 
                    [(ngModel)]="item.Lifetime" [ngModelOptions]="{standalone: true}">
                <br>
                <label for="brandTextField">Enter Link of the Image</label>
                <input type="text" class="form-control"
                    id="Imagelinktextfield"
                    placeholder="Enter Image Link"
                    name="ImageLink" 
                    [(ngModel)]="item.ImageLink"
                    [ngModelOptions]="{standalone: true}">

                <div class="d-flex align-items-center btn-group">
                    <button class="btn btn-light my-4" type="submit">
                        <i class="fas fa-edit"></i> 
                        Submit
                    </button>
                    
                    <a routerLink="/advertisement/list" class="btn btn-light">
                        <i class="fas fa-undo"></i> 
                        Cancel
                    </a>
                </div>

            </form>
        </div>

    </div>
</div>

<app-footer></app-footer>