<app-header></app-header>
            
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading my-4 page-title">Advertisements <a href="/advertisement/add" class="btn"><i class="bi bi-file-plus fa-3x icon-blue"></i></a></h1>
        </div>
    </section>

    <div class="album">
        <div class="container">
            <div class="row">
                <tr *ngFor="let item of AdvertisementList">
              <!--   <% for(let i = 0; i < AdvertisementList.length; i++) { %> -->
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header text-center h5"><b>AdvertisementList.Brand</b>AdvertisementList.ProductName</div>
                        <a href="/advertisement/details/AdvertisementList._id"><img class="card-img-top" src="AdvertisementList.ImageLin"></a>
                        <div class="card-body">
                            <p class="card-text">
                                <table class="table table-borderless">
                                    <tr>
                                        <td class="h6">Description:</td>
                                        <td>{{item.Description}}</td>
                                    </tr>
                                    <tr>
                                        <td class="h6">Price:</td>
                                        <td>AdvertisementList.Price</td>
                                    </tr>
                                    <tr>
                                        <td class="h6">Condition:</td>
                                        <td>AdvertisementList.Condition</td>
                                    </tr>
                                </table>
                         <!--  </p> -->  
                        </div>
                        <div class="card-footer text-muted">
                            <div class="d-flex align-items-center btn-group">
                                <a href="/advertisement/edit/AdvertisementList._id" class="btn btn-sm">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a href="/advertisement/delete/AdvertisementList._id" class="btn btn-sm">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
               <!--  <% } %> --></tr>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>