
<app-header></app-header>
<app-navbar></app-navbar>

<!-- Content for the Details page -->
<div class="container">
        <div class="row mx-5">
            <h1 class="page-title my-4 text-center">Details</h1>
            <div class="col-md-5">
                <img class="" style="width: 60%;" src="{{item.ImageLink}}">
            </div>

            <div class="col-md-7">
                <table class="table table-striped table-hover">

                    <tr>
                        <td>Product Name</td>
                        <td>{{item.ProductName}}</td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td>{{item.Brand}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{item.Description}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{item.Price}}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>{{item.Category}}</td>
                    </tr>
                    <tr>
                        <td>Condition</td>
                        <td>{{item.Condition}}</td>
                    </tr>
                    <tr>
                        <td>Date Enabled</td>
                        <td>{{dateEnabled}}</td>
                    </tr>
                    <tr>
                        <td>Lifetime</td>
                        <td>{{lifetime}}</td>
                    </tr>
                    
                </table>
            </div>
        </div>

        <section class="questionsAndAnswers">
            <div class="text-center my-3">
                <h1 class="page-title my-4 text-center">Have a question?</h1>
                <a routerLink="/question/add/{{ item._id }}"><button type="button" class="btn btn-light">Ask!</button></a>
                <a routerLink="/advertisement/list" class="btn btn-light">
                    <i class="fas fa-undo"></i> 
                    Back
                </a>
            </div>
            <div class="row">
                    <div *ngFor="let qitem of questionList" class="card mb-4 box-shadow">
                        <div class="card-header text-center h5"><b> {{ qitem.Question }}</b></div>
                            <div *ngIf="qitem.Answer" class="card-body">
                                <p class="card-text">
                                    {{ qitem.Answer }}
                                </p>
                            </div>
                        <div *ngIf="auth.username == item.owner.username"  class="card-footer text-muted">
                            <div class="d-flex align-items-center btn-group">
                                <a routerLink="/question/edit/{{ qitem._id }}/{{ item._id }}" class="btn btn-sm">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a (click)="deleteItem(qitem._id)" class="btn btn-sm">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </section>

        
</div>

<app-footer></app-footer>