
<!-- Nav Bar -->
<section id="title">

    <nav class="navbar navbar-expand-lg navbar-dark mx-5">
      <a class="navbar-brand" aria-label="Link to homepage" href="/"><img alt="Used goods logo" src="/assets/images/Logo.png" width="40%"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link anchor" routerLink="/aboutus">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link anchor" routerLink="/advertisement/list">Listings</a>
              </li>
              <li *ngIf="auth.username == null" class="nav-item">
                <a  class="nav-link" routerLink="/auth/signup">                   
                    Register 
                </a>
              </li>
              <li *ngIf="auth.username != null" class="nav-item">
                <a class="nav-link" routerLink="/myaccount/listings">                   
                    My Listings
                </a>
              </li>
                          
              <li class="nav-item">  
                  <a *ngIf="auth.username != null" class="nav-link" routerLink="" (click)="logout()">Sign Out ({{ auth.username }})</a>
                  <a *ngIf="auth.username == null" class="nav-link" routerLink="/auth/signin">Signin</a>     
              </li> 


          </ul>
      </div>
    </nav>

</section>