@import "~bootstrap-icons/font/bootstrap-icons.css";

/* You can add global styles to this file, and also import other style files */
/* LANDING PAGE */
homepage-container {
    margin: 0 auto;
    background-color: cornflowerblue
}

.container-fluid{
    padding: 3% 10%;
}

/* TITLE SECTION */
#title {
    background-color: cornflowerblue;
}

.infoTitle{
    font-family: 'Poppins', sans-serif;  
    font-size: 2.7vw;  
    line-height: 1.5;  
    font-weight: 900;
    color: azure;
    margin: 10% 1%;
    text-align: center;
}

.title-image {
    width: 100% !important;
    border-radius: 8px;
}

.title-description {
    text-align: center;
    padding: 0% 2%;
}

/* NAVIGATION BAR */
.navbar{
    font-family: 'Poppins', sans-serif;
    padding: 2% 0%;
}

.navbar-nav{
    font-weight: 100;
}

.navbar-brand{
    font-size: 2.5rem;
    color: azure;
    font-weight: bold;
    margin: 0;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;;
    font-weight: 400;
}

/* TESTIMONIALS */
.card {
    margin: 0% auto 5%;
    padding: 0!important;
    width: 21rem !important;
}

.card-header {
    /* padding: 0; */
}

.testimonials-title{
    text-align: center;
    margin-bottom: 4%;
    font-weight: 900;
    color: cornflowerblue;
    font-size: 3.5rem;
}

.card-img-top {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* FOOTER */
#bottom-banner {
    background-color: cornflowerblue;
    text-align: center;
    padding: 1% 0%;
    
}

#bottom-banner>h3{
    color: white;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1,5rem;
}

footer{
    width: 100%;
}

#footer {
    text-align: center;
    padding: 1%;
    background-color: white;
    position:relative;
    bottom:0;

}

#footer>i{
    padding: 0.5%;
}

/*  */
i {
    cursor: pointer;
}



@media only screen and (max-width: 768px) {
    /* .navbar-dark .navbar-nav .nav-link {
        color: rgba(255,255,255,.55);
        font-size: 10rem;
      } */
    
    .navbar{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    }

  
    
}

/* ADVERTISEMENT */
.page-title {
    color: cornflowerblue;
    font-weight: 700;
    font-size: 3.5rem;
}

.icon-blue {
    color: cornflowerblue;
    font-weight: 900;
    padding: 0;
}

